.content{
  width: 100%;
  height:800px;
  position: absolute;
  margin: auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
} 

#button{
  width: 350px;
  height: 50px;
  font-size: 28px;
  position: relative;
  margin: 0px auto;
  top:10px;
  display: block;
}
.img{
  width:280px;
  height:80px;
  position: relative;
  margin: 0px auto;
  top:100px;
  cursor: pointer;
 }
